.backCard {
    background-color: rgba(0, 0, 0, 0.75);
    /*opacity: 0.2;*/
    width: 18rem;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.list-group-item{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

h3{
    color: lightgreen;
}

